html {
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    padding: 30px;
    background-color: #f6f7fb;
    color: #333;
    font-size: 1.2rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
a:link, a:visited, a:hover, a:active {
    color: #7C5119;
    text-decoration: none;
}
.item {
    width: 180px;
    margin-bottom: 4px;
    padding: 8px;
    border-bottom: 3px solid;
    border-radius: 5px;
    background-color: #fff;
    & .category {
        margin: 15px 9px 10px;
        color: #aaa;
        letter-spacing: 1px;
        font-family: "Trebuchet MS", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
        &::before {
            display: inline-block;
            content: '';
            width: 19px;
            height: 19px;
            margin-right: 5px;
            border: 2px solid;
            border-radius: 50%;
            vertical-align: -5px;
        }
    }
    & .description {
        margin: 10px;
        line-height: 1.5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 5;
        -webkit-line-clamp: 5;
        overflow: hidden;
    }
    &:nth-of-type(even){
        & .description {
            line-clamp: 5;
            -webkit-line-clamp: 2;
        }
    }
    & > a {
        display: block;
        margin: -8px -8px -11px;
        padding: 8px 8px 11px;
        border-radius: inherit;
        color: #777;
        position: relative;
        overflow: hidden;
        &::before{
            content: '';
            display: block;
            width: 0;
            height: 109px;
            background-color: rgba(0, 0, 0, 0.7);
            position: absolute;
            left: 8px;
            opacity: 0;
            transition: all 0.3s ease;
        }
        &::after {
            content: 'MORE';
            display: block;
            text-align: center;
            width: 100px;
            height: 40px;
            line-height: 34px;
            font-weight: bold;
            color: #fff;
            border: 3px solid #fff;
            position: absolute;
            top: 42.5px;
            left: -50%;
            margin-left: -50px;
            opacity: 0;
            transition: all 0.3s ease;
        }
        &:hover {
            box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.3);
            &::before {
                width: 164px;
                opacity: 1;
            }
            &::after {
                left: 50%;
                opacity: 1;
            }
        }
        }
}    
.item-m {
    & > a {
        &::before{
            height: 146px;
        }
        &:hover {
            &::before {
                width: 348px;
            }
        }
        &::after{
            top: 61px;
        }
        }
}    
.item-l {
    & > a {
        &::before{
            height: 403px;
        }
        &:hover {
            &::before {
                width: 716px;
            }
        }
        &::after{
            top: 189.5px;
        }
        }
}    
.image {
    display: block;
    width: 100%;
    height: 109px;
}
.item-maindish{
    border-color: #ffC0CB;
    & .category::before{
        border-color: #ffC0CB;
    }
}
.item-appetizer{
    border-color: #76C047;
    & .category::before{
        border-color: #76C047;
    }
}
.item-column{
    border-color: #FFF100;
    & .category::before{
        border-color: #FFF100;
    }
}
.item-breaktime{
    border-color: #C1EFFF;
    & .category::before{
        border-color: #C1EFFF;
    }
}
.item-m {
    width: 364px;
    & .image {
        height: 146px;
    }
}
.item-l {
    width: 732px;
    & .image {
        height: 403px;
    }
}
.header {
    padding: 25px 0;
    border-bottom: none;
    text-align: center;
}
.logo {
    width: 136px;
    height: 136px;
    transition: all 0.3s;
    &:hover {
        transform: rotate(360deg);
    }
}
.nav-item {
    margin-top: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.3rem;
    & a {
        display: inline-block;
        &::after {
            content: '';
            display: block;
            width: 0;
            margin: 6px auto 0;
            border-bottom: 1px solid #7C5119;
            transition: width 0.3s ease-in-out;
        }
        &:hover::after {
            width: 100%;
        }
    }
} 